{% extends 'base.html' %}

{% load store_tags %}

{% block extra_title %}Shop{% endblock extra_title %}

{% block content %}

<div class="container">

    <!-- Page Breadcrumbs -->
    {% block breadcrumb_content %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store-home' %}" class="text-primary">Home</a></li>
            {% if category %}
                <li class="breadcrumb-item active text-secondary" aria-current="page">{{ category.title }}</li>
            {% endif %}
        </ol>
    {% endblock %}
    
    <!-- Page Header -->
    <div class="row">
        <div class="col-12">
            {% if category %}
                <h3 class="text-primary">{{ category.title }}</h3>
            {% endif %}
            <hr class="">
        </div>
        <div class="col-12 text-center dropdown show">
                <button type="button" id="sortDropdown" class="dropdown-toggle btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Products
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <li><a href="#" class="text-primary dropdown-item">Highest Rated</a></li>
                    <li><a href="?{% url_replace request 'order_by' 'price' %}" class="text-primary dropdown-item">Lowest Price</a></li>
                    <li><a href="?{% url_replace request 'order_by' '-date_added' %}" class="text-primary dropdown-item">Newest Items</a></li>
                </ul>
        </div>
    </div>

    <!-- Page Content -->
    <div class="row">

        <!-- Product Card -->
        {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3 px-md-1">
                <div class="row">
                    <div class="col-12 p-0">
                        {% if product.thumbnail.url %}
                            <a class="product-img" href="{% url 'product_page' product.category.slug product.subcategory.slug product.slug %}">
                                <img src="{{ product.thumbnail.url }}" alt="{{ product.title }}">
                            </a>
                        {% else %}
                            <a class="product-img" href="{% url 'product_page' product.category.slug product.subcategory.slug product.slug %}">
                                <img src="#" alt="{{ product.title }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <a href="{% url 'product_page' product.category.slug product.subcategory.slug product.slug %}">
                            <h3 class="text-primary">{{ product.title }}</h3>
                        </a>
                    </div>
                    <div class="col-6 text-left font-weight-bolder">
                        Test
                    </div>
                    <div class="col-6">
                        <p>€{{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Pagination -->
        <div class="col-12">
            <div class="container p-4">
                <div class="pagination justify-content-center">
                    <span class="text-center">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" title="First" class="text-white">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                            <a href="?page={{ page_obj.previous_page_number }}" title="Previous" class="text-white">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        {% endif %}

                        {% if page_obj %}
                            <span class="">
                                <strong>{{ page_obj.number }}</strong> of {{ page_obj.paginator.num_pages }}
                            </span>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" title="Next" class="text-white">
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" title="Last" class="text-white">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}