{% extends 'base.html' %}

{% load widget_tweaks %}

{% block extra_title %}Edit Account{% endblock extra_title %}

{% block content %} 
    <h2 class="">Edit Account</h2>

    <form method="POST" action="{% url 'edit_account_details' %}" class="form" novalidate>
        {% csrf_token %}
        {% for field in edit_account_form %}
        <fieldset class="">
                <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
                {{ field|add_class:'' }}
            {% for error in field.errors %}
                <span class="">{{ error }}</span>
            {% endfor %}
        </fieldset>
        {% endfor %}

        {% for error in field.errors %}
            <span class="">{{ error }}</span>
        {% endfor %}

        <fieldset class="">
            <button type="submit" class="">Confirm</button>
        </fieldset>
    </form>
{% endblock content %}