{% extends "base.html" %}

{% block extra_title %}Reset Password Sent{% endblock extra_title %}


{% block content %}
<div class="container">
    <div class="d-flex flex-column align-content-center justify-content-between">
        <h2 class="text-primary mx-auto mt-3 mb-2">Reset Password</h2>
        <p class="lead mx-auto">An email has been sent with instructions to reset your password</p>
        <a href="{% url 'store-home' %}" class="btn-secondary px-2 py-2 mx-auto">Back to home </a>
    </div>
{% endblock content %}