{% extends "base.html" %}

{% block extra_title %}Reset Password Complete{% endblock extra_title %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column align-content-center justify-content-between">
            <h2 class="text-secondary mt-3 mb-2">Reset Password Success!</h2>
            <p class="lead mx-auto">Your password has been reset, you can now login with your new password</p>
            <a href="{% url 'login' %}" class="btn-primary px-2 py-2 mx-auto">Continue to Login</a>
        </div>
    </div>
{% endblock content %}