{% extends "base.html" %}

{% block extra_title %}Contact Us - Success{% endblock extra_title %}

{% block content %}
<div class="container">
    <div class="d-flex flex-column align-content-center justify-content-between">   
    <h2 class="text-primary mx-auto mt-3 mb-2">Contact Us - Success!</h2>
        <p class="lead mx-auto">Your message has been sent successfully, thanks for getting in touch!</p>
        <a href="{% url 'shop' %}" class="btn btn-secondary px-2 py-2 mx-auto">Return to shopping</a>
    </div>
</div>
{% endblock content %}