{% extends 'base.html' %}

{% load widget_tweaks %}

{% block extra_title %}Contact Us{% endblock extra_title %}

{% block content %}
<div class="container form-wrapper col-md-6 col-lg-4 px-4 py-1">
    <h2 class="text-secondary">Contact Us</h2>
    <form method="POST" action="{% url 'contact' %}" class="form" novalidate>
        {% csrf_token %}

        {% for field in contact_form %}
        <fieldset class="form__group">
            <label for="{{ field.id_for_label }}" class="form-label mt-4">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </fieldset>
        {% endfor %}

        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}

        <fieldset class="form__group">
            <button type="submit" class="btn btn-primary mt-3 mb-4">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock content %}