@import 'custom/overrides';
@import 'custom/mixins';
@import 'custom/functions';

// GOOGLE FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playball&display=swap');

// BODY EXTRA STYLING
body {
    font-family: 'Oswald', sans-serif;

    /* for footer placement
    ref: https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// NAVBAR EXTRA STYLING
.nav-link {
    font-family: 'Playball', cursive;
    font-size: 2rem;
    margin-right: 10px;
    padding-bottom: 10px;

    i {
        color: $yellow;
    }
}

#nav-logo {
    img {
        width: auto;
        height: 50px;
    }
}

// FOOTER EXTRA STYLING

footer {
    background-color: $dark;
    margin-top: auto;

    .footer-title {
        font-family: 'Playball', cursive;
        color: $yellow;
        font-size: 1.6rem;
        padding-top: 10px;
    }

    .footer-text {
        font-size: 1.1rem;

        a {
            transition: all 0.5s ease 0s;
            text-decoration: none;
            color: $gray-200;
        }

        a:hover {
            color: rgba($orange, .80);
        }

        a:focus {
            color: $orange;
        }
    }
}

// HEADINGS STYLING

//LANDING PAGE STYLING
#home-hero {
    background-image: url('/static/img/hero-image.jpg');
    height: 92vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 5%;

    a {
        display: block;
        width:fit-content;
    }
}

.home-content {
    font-size: 1.4rem;

    .home-link {
        padding: 25px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .btn-primary {
        display: block;
        width: fit-content;
        height: fit-content;
    }
}