{% extends "base.html" %}
{% load static %}

{% block extra_title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">

        <!-- Page Breadcrumbs -->
        {% block breadcrumb_content %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store-home' %}" class="text-white">Home</a></li>
                {% if product.category.title == 'Membership' %}
                    <li class="breadcrumb-item"><a href="{% url 'shop' 'membership' %}" class="text-primary">All Membership Options</a></li>
                {% elif product.category.title == 'Boxing Gear' %}
                    <li class="breadcrumb-item"><a href="{% url 'shop' 'boxing-gear' %}" class="text-primary">All Boxing Gear</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="{% url 'shop' 'apparel' %}" class="text-primary">All Apparel</a></li>
                {% endif %}
                <li class="breadcrumb-item active text-secondary" aria-current="page">{{ product.title }}</li>
            </ol>
        {% endblock %}

        <!-- Page Header -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-secondary">{{ product.title }}</h3>
                <hr class="section-divider">
            </div>
            
        </div>

        <!-- Page Content -->
        <div class="row mb-5">

            <!-- Product Image -->
            <div class="col-12 col-md-6 col-lg-6">   
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="w-100 h-100 img-fluid">
            </div>

            <!-- Product Info -->
            <div class="col-12 col-md-6 col-lg-6 p-sm-4 p-md-3 p-lg-3 detail-text">
                <div class="row">

                    <!-- Product Price -->
                    <div class="col-6 text-right detail-price">
                        <h3 class="font-weight-bolder">€{{ product.price }}</h3>
                    </div>
                </div>

                <!-- Product Description -->
                <div class="row">
                    <div class="col-12">
                        <h3 class="font-weight-bolder mt-2 mb-1">Description:</h3>
                        <p class="lead">"{{ product.description }}"</p>
                    </div>
                </div>

                <!-- Product Variation and Quantity -->
                <form action="#" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-row d-flex flex-wrap justify-content-center">
                        <div class="col-12 py-sm-1">
                            {% if product.category.slug == 'membership' %}
                                <h4 class="m-0">Age Group:</h4>
                            {% else %}
                                <h4 class="m-0">Size:</h4>
                            {% endif %}
                        </div>

                        <!-- Product Dropdown -->
                        <div class="col-12 py-sm-1">
                            <select class="form-control text-dark product-list mb-2" name="product_select" id="product_select">
                                {% for options in product.product_options.all %}
                                    <option id="id_select" value="{{ options.product_select }}" data-stock="{{ options.stock_count }}" selected>{{ options.product_select.option_name }}
                                        {% if product.category.slug == 'membership' %}
                                            {% if options.stock_count > 0 %}
                                                ({{ options.stock_count }} spots left)
                                            {% else %}
                                                (No Spots Left)
                                            {% endif %}
                                        {% else %}
                                            {% if options.stock_count > 0 %}
                                                ({{ options.stock_count }} in stock)
                                            {% else %}
                                                (No Stock Left)
                                            {% endif %})
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Product Quantity -->
                        <div class="col-12 py-1">
                            <h4 class="m-0">Quantity:</h4>
                            <div class="form-group w-50 col-12 py-2">
                                <div class="input-group text-dark">
                                    <div class="input-group-prepend">

                                        <!-- Inactive when quantity is 2 -->
                                        <button class="decrement-qty btn btn-sm rounded-0"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" aria-label="Decrease Quantity">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <label for="id_qty_{{ product.id }}" class="sr-only">Quantity Input Field</label>
                                    <input id="id_qty_{{ product.id }}" class="form-control form-control-sm text-dark"
                                        type="number" name="quantity" value="1" min="1" max="{% if product.category.pk == 1 %}5{% else %}10{% endif %}"
                                        data-item_id="{{ product.id }}" aria-label="Current Quantity">
                                    <div class="input-group-append">

                                        <!-- Inactive when max stock is reached -->
                                        <button class="increment-qty btn btn-sm rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" aria-label="Increase Quantity">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Product Buttons -->
                    <div class="d-flex flex-wrap mt-2 pt-2">
                        
                        <!-- Returns user to previous page -->
                        <div class="col-4 no-gutters">
                            <div class="align-self-center">
                                <a class="btn-outline-primary" title="Back to Shop" href="{% url 'shop' %}">
                                    <i class="fas fa-angle-left"></i> Back to Shop
                                </a>
                            </div>
                        </div>
                        
                        <!-- Adds item to shopping bag -->
                        <div class="col-4 no-gutters">
                            <div class="align-self-center">
                                <input class="btn-secondary" type="submit" value="Add to bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="#">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    <script>
        // ref: https://tinyurl.com/25f4rpa4
        $('select').change(function(){
            $('.qty_input').attr('max', $(this).find(":selected").data('stock'));
        });

        $('select').ready(function(){
            $('.qty_input').attr('max', $(this).find(":selected").data('stock'));
        });
    </script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}