{% extends "base.html" %}
{% load store_tags %}
{% load humanize %}
{% load static %}

{% block extra_title %}{{ product.title }}{% endblock %}

{% block content %}
    <div class="container">

        <!-- Page Breadcrumbs -->
        {% block breadcrumb_content %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store-home' %}" class="text-white">Home</a></li>
                {% if product.category.title == 'Membership' %}
                    <li class="breadcrumb-item"><a href="{% url 'shop' 'membership' %}" class="text-primary">All Membership Options</a></li>
                {% elif product.category.title == 'Boxing Gear' %}
                    <li class="breadcrumb-item"><a href="{% url 'shop' 'boxing-gear' %}" class="text-primary">All Boxing Gear</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="{% url 'shop' 'apparel' %}" class="text-primary">All Apparel</a></li>
                {% endif %}
                <li class="breadcrumb-item active text-secondary" aria-current="page">{{ product.title }}</li>
            </ol>
        {% endblock %}

        <!-- Page Header -->
        <div class="row">
            <div class="col-12">
                <h2 class="text-secondary">{{ product.title }}</h2>
                <hr class="section-divider">
            </div>
            
        </div>

        <!-- Page Content -->
        <div class="row mb-5">

            <!-- Product Image -->
            <div class="col-12 col-md-6 col-lg-6">   
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="w-100 h-100 img-fluid">
            </div>

            <!-- Product Info -->
            <div class="col-12 col-md-6 col-lg-6 p-sm-4 p-md-3 p-lg-3 detail-text">
                <div class="row">

                    <!-- Product Price -->
                    <div class="col-6 text-right detail-price">
                        <h3 class="fs-4">Price:</h3>
                        <h3 class="fs-4">€{{ product.price }}</h3>
                    </div>
                </div>

                <!-- Product Description -->
                <div class="row">
                    <div class="col-12">
                        <p class="fs-4 mt-2 mb-1">Description:</p>
                        <p class="fs-5">"{{ product.description }}"</p>
                    </div>
                </div>

                <!-- Product Variation and Quantity -->
                <form action="{% url 'add_to_bag' product.id %}" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-row d-flex flex-wrap justify-content-center">
                        <div class="col-12 py-sm-1">
                            {% if product.category.slug == 'membership' %}
                                <p class="fs-4 m-0 pb-2">Age Group:</p>
                            {% else %}
                                <hp class="fs-4 m-0 pb-2">Size:</hp>
                            {% endif %}
                        </div>

                        <!-- Product Dropdown -->
                        <div class="col-12 py-sm-1">
                            <select class="form-control text-dark product-list mb-2" name="product_select" id="product_select">
                                {% for options in product.product_options.all %}
                                    <option id="id_select" value="{{ options.product_select }}" data-stock="{{ options.stock_count }}" selected>{{ options.product_select.option_name }}
                                        {% if product.category.slug == 'membership' %}
                                            {% if options.stock_count > 0 %}
                                                ({{ options.stock_count }} spots left)
                                            {% else %}
                                                (No Spots Left)
                                            {% endif %}
                                        {% else %}
                                            {% if options.stock_count > 0 %}
                                                ({{ options.stock_count }} in stock)
                                            {% else %}
                                                (No Stock Left)
                                            {% endif %}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Product Quantity -->
                        <div class="col-12 py-1">
                            <p class="fs-4 m-0 mb-2 mt-1">Quantity:</p>
                            <div class="form-group w-50 col-12 py-2">
                                <div class="input-group text-dark">
                                    <div class="input-group-prepend">

                                        <!-- Inactive when quantity is 2 -->
                                        <button class="decrement-qty btn btn-sm rounded-0"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" aria-label="Decrease Quantity">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <label for="id_qty_{{ product.id }}" class="sr-only">Quantity Input Field</label>
                                    <input id="id_qty_{{ product.id }}" class="form-control form-control-sm text-dark qty_input"
                                        type="number" name="quantity" value="1" min="1" max="{% if product.category.pk == 1 %}5{% else %}10{% endif %}"
                                        data-item_id="{{ product.id }}" aria-label="Current Quantity">
                                    <div class="input-group-append">

                                        <!-- Inactive when max stock is reached -->
                                        <button class="increment-qty btn btn-sm rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" aria-label="Increase Quantity">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Product Buttons -->
                    <div class="d-flex flex-wrap mt-2 pt-2">
                        
                        <!-- Returns user to previous page -->
                        <div class="col-4 no-gutters">
                            <div class="align-self-center">
                                <a class="btn btn-outline-primary" title="Back to Shop" href="{% url 'shop' %}">
                                    <i class="fas fa-angle-left"></i> Return
                                </a>
                            </div>
                        </div>
                        
                        <!-- Adds item to shopping bag -->
                        <div class="col-4 no-gutters">
                            <div class="align-self-center">
                                <input class="btn-secondary btn" type="submit" value="Add to bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </form>

                <div class="mt-5">
                    {% include 'products/includes/star-rating.html' with rating=product.get_average_rating %}
                    <p class="fs-4 pl-2 d-sm-inline-block">{% display_count 'rating' product.get_rating_count %}</p>
                </div>

                <div class="col-12 pl-2 star-rate mb-2">
                    <div>
                        <form action="{% url 'rate_product' product.pk %}?next={{ request.path }}" class="star-rate" method='POST'>
                        {% csrf_token %}
                            <fieldset class="rating-group">
                                <input disabled class="rating-input rating-input-none" name="star-rating" id="star-rating-none" value="0" type="radio" {% if not user_rating %}checked{% endif %}>
                                    {% for i in rating_options %}
                                        <label aria-label="{{i}} star" class="rating-label px-0" for="star-rating-{{i}}"><i class="rating-icon rating-icon-star fa fa-star"></i></label>
                                        <input class="rating-input" name="star-rating" id="star-rating-{{i}}" value="{{i}}" type="radio" {% if i == user_rating.rating %}checked{% endif %}>
                                    {% endfor %}
                            </fieldset>
                            <button type="submit" class="btn btn-primary mt-2 mb-4"><i class="fas fa-star-half-alt"></i> Submit your rating</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        // ref: https://tinyurl.com/25f4rpa4
        $('select').change(function(){
            $('.qty_input').attr('max', $(this).find(":selected").data('stock'));
        });

        $('select').ready(function(){
            $('.qty_input').attr('max', $(this).find(":selected").data('stock'));
        });
    </script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}